.all {

    background-image: url("../images/home_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    font-size: 72px;
    position: sticky;

}

.bio {
    font-size: 36px;


}