.logo {
    height: fit-content;
    margin: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

section {
    background-color:  #EEE;
 height: fit-content;
width: max-content;
border-bottom: 3px blue solid;
padding-left: 10px;
}