div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: #b0aaaa; /* Get The Background From Image */
  color: black;
  font-family: sans-serif;

}
.one {
  background-color: #b0aaaa1f;

}
.two {
  opacity: .1;
}