.father {
    background-color: #f1ebeb;
    width: 800px;   
    width: 1000px;
    padding: 0%;
}
body {
    margin: 0%;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
div div {
    background-color:#becdcb;
    margin-bottom: 15px ;
    margin-left: 15px;
    text-align: center;
    padding: 20px 0px;
    float: left;
}
.full {
    width: calc(100% - 30px); 
    margin: 15px 0px 15px 15px;
}
.third {
    width: calc((100% - 60px)/ 3); 
}
.half {
    width: calc((100% - 45px)/ 2); 
}
.quarter {
        width: calc((100% - 75px) / 4);
}

p {
    clear: both;
}