

/* css code */

div {
margin :5px;
padding: 5px;
border-width: 5px;
display: inline-block;
outline : 5px;
outline-color: black;
outline-style: solid;
background-color: #dfcece;
}
 
.assign-1-shape-1{
border-color: red ;
border-style: solid;
}
.assign-1-shape-2{
border-style: solid;
border-color: blue green;
}
.assign-1-shape-3{
border-style: dashed;
border-color: red green blue yellow;
}