

div {
width: 400px;
background-color: #eee;
border-left-width: 5px;
padding: 5px;
border-left-style: solid;
margin: 5px;
}
 
.element.element-1{
border-left-color: red;
}

.element.element-2{
    visibility: hidden;
}

.element.element-3{
    border-left-color:green ;
}