p::before{
    content: attr(data-person);
    line-height: 40px;
    width: 80px;
    height: 40px;
    background-color: #d0c9c9;
    display: inline-block;
    position: absolute;
    left: -94px;
    top: 7.5px;}
p {
    color: black;
    background-color: #EEE;
    height: 50px;
    width: 400px;
    text-align: center;
    line-height: 50px;
    padding: 3px;
    position: relative;
    left: 150px;
    margin-bottom: 10px;
    font-family: sans-serif;
    right: 0px;}
p::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #da4477;
}

