.main {
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    list-style: none;
    font-family: sans-serif;
    padding-left: 0;
}
.html ,
.css,
.java {
    background-color: #EEE;
    padding: 15px;
    margin: 15px;
        counter-reset: 10;
}
.htmll,
.csss,
.javaa {
    background-color: #FFF;
    margin: 4px;
    padding: 10px;
}
.csss {
    list-style-type: upper-roman;
}
.htmll {
    list-style-type: decimal-leading-zero;
    counter-reset: 10;
}

 .ko {
    padding-left: 0px;
    list-style-position: inside;
}