p::before{
    content: attr(data-person);
    line-height: 40px;
    width: 80px;
    height: 40px;
    background-color: #d0c9c9;
    display: inline-block;
    position: absolute;
    left: -100px;
    top: 7.5px;}
p {
    color: black;
    background-color: #EEE;
    height: 50px;
    width: 400px;
    text-align: center;
    line-height: 50px;
    padding: 3px;
    position: relative;
    left: 150px;
    margin-bottom: 10px;
    font-family: sans-serif;
    right: 0px;
border-left: 5px #e91e63 solid;
}
p::after {
    content: "";
    position: absolute;
    border: 10px transparent solid;
    border-right-color: #e91e63 ;
    left:-25px;
    top: 20px;
}

